@font-face {
  font-family: 'PyeojinGothic-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  --box-background-color: #fdd8a8;
  --font-color: #363333;
}

/* 공통 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PyeojinGothic-Bold';
  text-align: center;
  list-style: none;
}

header {
  margin-top: 15px;
}

main {
  width: max-content;
  border-radius: 15px;
  background-color: var(--box-background-color);
  text-align: center;
  color: var(--font-color);
  margin: 15px auto;
  padding: 15px 25px;
}

a {
  text-decoration: none;
}

a:hover {
  font-size: 1.2rem;
  color: black;
}

/* 메인 페이지 */

.index-main article {
  margin-bottom: 10px;
}

.index-main article p {
  line-height: 25px;
}

/* 히스토리 페이지 */

.history-main p {
  padding: 12px 8px;
  line-height: 23px;
}

.history-main p span {
  color: firebrick;
}

/* 티엠아이 페이지 */
